/* #region general */
html {
    scroll-behavior: smooth;
}

/* Override default link styles. */
a { text-decoration: none; color: black}
a:hover, a:active { text-decoration: none; color:red }

span:hover { text-decoration: none; color: red; }

/* Source: https://www.w3schools.com/howto/howto_js_sidenav.asp. */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav h2 {
    padding: 8px 8px 8px 21px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    position: relative;
    transition: margin-left .5s;
    padding: 20px;
}

#nav-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 5;
}

#nav-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* On smaller screens, where height is less than 450px, change 
the style of the sidenav (less padding and a smaller font size). */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* #endregion general */

/* #region grid */
.grid {
    display: grid;
    gap: 10px;
    padding: 40px;
    max-width: 1600px;
    margin: 0 auto;

    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
}

.card {
    aspect-ratio: 5 / 7;
    border-radius: 12px;
    overflow: hidden;
    background: #111;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* #endregion grid */

/* #region lightbox */
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.65);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    z-index: 999;
}

.lightbox.active {
    opacity: 1;
    pointer-events: auto;
}

.lightbox-content {
    max-width: 90vw;
    max-height: 90vh;
    text-align: center;
    transform: scale(0.95);
    transition: transform 0.25s ease;
}

.lightbox.active .lightbox-content {
    transform: scale(1);
}

.lightbox img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 14px;
  box-shadow: 0 40px 80px rgba(0,0,0,0.8);
  transition: opacity 0.2s ease;
}

.lightbox p {
    color: white;
    margin-top: 16px;
    font-size: 14px;
    opacity: 0.8;
}
/* #endregion lightbox */

/* #region fonts */

@font-face {
    font-family: 'pokemon';
    src: url('./assets/fonts/Pokemon-Hollow.ttf') format('truetype');
}

.a, .pokemon-text {
    font-family: 'pokemon';
}

/* #endregion font */